.git
.runtime
build
install
log
**/__pycache__

**/*.blend1
**/*.py[cod]
**/*.egg-info
**/*.bag
**/*.db3
**/*.mcap

docs/*
!docs/ASSETS.md
!docs/amr-360.gif
!docs/locomanipulator-360.gif
!docs/scout-360.gif
!docs/scout-creeper-360.gif
assets/robot/components/*.blend
isaac_runtime/build_robot.py
isaac_runtime/model_components.py
isaac_runtime/robot_description.py
scripts/build-models
src/nero_description/urdf/*
!src/nero_description/urdf/nero_with_gripper_description.urdf
src/nero_description/meshes/revo2
src/nero_description/meshes/revo2_flange.stl
src/nero_description/meshes/dae/revo2_flange.dae
